* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 960px;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
ol li {
  margin: 20px 0px 20px 20px;
}
ol {
  margin-bottom: 30px;
}
ul li {
  display: inline-block;
  max-width:30%;
  vertical-align: top;
  margin: 5% 5% 5% 0%;
}
ul li:last-child {
  margin-right: 0%;
}
ul li:hover {
  background-color: green;
  cursor: pointer;
}
h2 {
  margin-top: 40px;
}
hr {
  margin: 20px 0px;
}
#data {
  height: 500px;
  width: 100%;
}
button {
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
#list {
  background-color: #4A75E6;
  margin-left: 0px
}
#bar {
  background-color: #EA2533;
}
#pie {
  background-color: #FEBC1F;
}
